body {
  background-color: #16161e;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "outfit", "vazir";
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  color: rgba(152, 251, 152, 0.781);
}
.container {
  width: 50rem;
  max-height: 40rem;
  background-color: #1a1b26;
  border-radius: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: auto;
  scrollbar-color: #3d3e5763 #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.308);
}

.container::-webkit-scrollbar {
  width: 11px;
}

.container::-webkit-scrollbar-track {
  background: #ffffff00;
}

.container::-webkit-scrollbar-thumb {
  background-color: #3d3e57;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.usres {
  /* border: 1px solid palegoldenrod; */
  padding: 1rem;
}
.user-card {
  background-color: #222331;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 8rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.user-card:last-child {
  margin-bottom: 0rem;
}
.profile {
  height: 100%;
  margin-right: 2rem;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 0.3rem;
}
.info-username {
  margin: 0rem;
  font-size: 2rem;
  color: #d3d3d6;
}
.info-date {
  margin: 0;
  font-size: 1rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.63);
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
}
.buttons a {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #1a1b26;
  cursor: pointer;
}
.buttons a:hover {
  filter: brightness(120%);
}
.move {
  transform: translateX(1rem);
}
.delete-btn {
  color: rgb(255, 0, 76);
}
.edit-btn {
  color: rgb(58, 194, 58);
}
/* -----Modal----- */
.black-div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  /* backdrop-filter: blur(4px); */
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.black-div.active {
  opacity: 1;
  pointer-events: all;
}
.delete-modal {
  width: 40rem;
  height: 14rem;
  background-color: #1a1b26;
  position: fixed;
  z-index: 10;
  border-radius: 1rem;
  display: flex;

  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0px 1rem 3rem black;
  scale: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.delete-modal.active {
  scale: 1;
  pointer-events: all;
}
.delete-model-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.delete-model-info h3 {
  font-size: 2.1rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  margin-bottom: 1rem;
}
.delete-model-info p {
  margin: 0;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.534);
}
.delete-modal-btns {
  display: flex;
  gap: 2rem;
}

.delete-modal-btns button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 7rem;
  height: 2rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.delete-modal-btns button:first-child {
  background-color: rgb(218, 213, 213);
}
.delete-modal-btns button:first-child:hover {
  background-color: rgb(182, 180, 180);
}
.delete-modal-btns button:last-child {
  background-color: rgb(255, 0, 55);
}
.delete-modal-btns button:last-child:hover {
  background-color: rgb(221, 0, 48);
}
